@font-face {
  font-family: AvenirLt;
  src: url(./assets/fonts/Avenir_Light.ttf);
}
@font-face {
  font-family: AvenirBlk;
  src: url(./assets/fonts/Avenir_Black.ttf);
}
@font-face {
  font-family: AvenirMed;
  src: url(./assets/fonts/Avenir_Medium.ttf);
}
@font-face {
  font-family: TypoldLt;
  src: url(./assets/fonts/Typold_Light.otf);
}
@font-face {
  font-family: TypoldMed;
  src: url(./assets/fonts/Typold_Medium.otf);
}
@font-face {
  font-family: TypoldReg;
  src: url(./assets/fonts/Typold_Regular.otf);
}

body {
  margin: 0;
  font-family: "AvenirLt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
